@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import './variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-color: $font-normal;
  text-decoration: none;
}

.container {
  width: 100%;
  text-align: center;
}

svg {
  padding-left: 20%;
}
.profilePic {
  position: absolute;
  margin: auto;
  height: 52px;
  border-radius: 162px;
  border: 3.5px solid #4db6ac;
  margin-left: 15%;
}
.profileName {
  position: absolute;
  display: block;
  text-align: center;
  color: $font-normal;
  font-size: 18px;
  margin-left: 26%;
}
