@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  text-align: center;
}

svg {
  padding-left: 20%;
}
