$primary: #EB5424;
$font-light: #82888a;
$font-normal: #565a5c;;
$font-dark: #565a5c;
$light-gray: #e0e2e2;
$shadow: 0px 2px 8px rgba(187, 187, 187, 0.44);

$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
