$primary: #EB5424;
$font-hint: rgba(0,0,0, 0.29);
$font-light: #82888a;
$font-normal: #565a5c;;
$font-dark: #565a5c;
$light-gray: #e0e2e2;
$shadow: 0px 2px 8px rgba(187, 187, 187, 0.44);

$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
<<<<<<< e38f349ce0435963a11b35bb3bde53c71e9b5ad3

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
=======
>>>>>>> [styling] Add media query to variables and styled newentry.scss
