.text-entry-container {
  max-width: 400px;
  margin: 20px auto;

  @include phone {
    margin: 20px auto;
    width: 80%;

    @include placeholder {
      color: $font-hint;
      font-size: 1.2em;
    }
  }
}

.error {
  color: rgb(244, 67, 54);
}

.success {
  color: #01bd67;
  text-decoration: underline;
}
