header {
  width: 100%;
  padding: 0;
  background: #fff;

  nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 90px;
    color: $primary;

    a {
      color: $primary;
    }

    .brand-logo {
      flex: 1;
    }

    .login-btn {
      padding: 0.4em 1em;
      border: 1px solid $primary;
      border-radius: 100px;
    }
  }


}

