header {
  width: 100%;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid $light-gray;
  nav {
    ul {
      text-align: center;
      li {
        display: inline;
        margin-right: 60px;
        a {
          color: #333;
          text-decoration: none;
          &:hover {
            color: $primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
