.audio-entry-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 400px;
  background-color: #fff;
  box-shadow: $shadow;
}

.audio-entry {

}

audio {
  padding: 20px 0;
}
