.video-entry-outter-container {
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  align-self: center;
}
.video-entry-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction:column;
  align-items: center;
  align-self: center;
  width: 400px;
  background-color: #fff;
  box-shadow: $shadow;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

video {
  width: 400px;
}

.flash-message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#face_video_canvas {
  display: none
}

#face_video {
  display: none
}
