.controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.flash-message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#face_video_canvas {
  display: none
}

#face_video {
  display: none
}
