.media-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1em 2em;
  margin-bottom: 12px;
  background-color: #fff;
  box-shadow: $shadow;
}

.video-player {

}

.audio-player {

}
