.entry-container {
  max-width: 600px;
  padding: 1em 2em;
  background-color: #fff;
  box-shadow: $shadow;
  margin: auto auto 12px auto;

  a {
    text-decoration: none;
    color: $font-normal;
  }

  @include phone {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
  }
}

.entry-meta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 2em;
}

.date {
  font-size: 0.9em;
  font-weight: bold;
  color: $font-light;
}

.time {
  font-size: 0.7em;
  color: $font-light
}

.time-container {
  margin-top: -10px;
}

.entry-icon {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 20px;
}

.video-entry::before {
  @extend .entry-icon;
  background: url('../styles/assets/video.svg');
}

.audio-entry {
  @extend .entry-icon;
  background: url('../styles/assets/audio.svg');
}

.text-entry {
  @extend .entry-icon;
  background: url('../styles/assets/text.svg');
}
